.username-input-area {
  width: 300px;
  height: 30px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.password-input-area {
  margin-top: 50px;
  width: 300px;
  height: 30px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.submitbutton{
  margin-top: 100px;
  width: 100px;
  height: 30px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.wronglogin{
  color: red;
  margin-top: -50px;
  height: 30px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
